.view-estimation
    | {{ item.estimation }}
    a.edit.icon.icon-edit(href="" title="{{'COMMON.EDIT' | translate}}")
.edit-estimation
    input(type="text", ng-model="item.estimation", data-maxlength="500")
    span.save-container
        a.save.icon.icon-floppy(href="", title="{{'COMMON.SAVE' | translate}}")
